@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
:root {
    --color-green-light: #D0E3D8;
    --color-green-light-2: #449c69;
    --color-green-dark: #125310;
}

.spinner {
    border-top: 2px solid var(--color-green-dark);
    border-radius: 50%;
    display: block;
    animation: spin .75s linear infinite;
}

* {
    box-sizing: border-box;
}
.spinner-md {
    width: 40px;
    height: 40px;
}

.spinner-sm {
    width: 30px;
    height: 30px;
}


.spinner-lg {
    width: 50px;
    height: 50px;
}

@keyframes spin {
    from  {
        transform: rotate(0deg);
    }
    to  {
        transform: rotate(360deg);
    }
}